@for (availableTarget of availableTargets; track availableTarget.center) {
    <indicator [hex]="availableTarget" [graphicsContext]="passingGraphicsContext" (onGraphicsChanged)="handleGraphics($event)"></indicator>
}
@if (passingPath && passingPath.length > 0) {
    <passing-path [passingPath]="passingPath" (onGraphicsChanged)="handleGraphics($event)"></passing-path>
}
@for (challengeHex of challengeHexes; track challengeHex.center) {
    <indicator [hex]="challengeHex" [graphicsContext]="challengeGraphicsContext" (onGraphicsChanged)="handleGraphics($event)"></indicator>
}
@for (testPoint of testPoints; track testPoint) {
    <point [point]="testPoint" (onGraphicsChanged)="handleGraphics($event)"></point>
}